<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
</head>
<body>
    <h1>Digite seu nome:</h1>
    <form action="/resultado" method="GET">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required>
        
        <h2>Digite sua idade:</h2>
        <label for="idade">Idade:</label>
        <input type="text" name="idade" required>
        
        <h3>Digite sua cidade:</h3>
        <label for="cidade">Cidade:</label>
        <input type="text" name="cidade" required>
        
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
